.navigation-header {
  background-color: black;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  height: 115px;
  width: 100%;
  margin-bottom: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1115;
  width: 115;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-btns {
  font-family: 'poppins';
  color: white;
  text-decoration: none;
  padding-right: 55px;
}

.logout-btn {
  font-family: 'poppins';
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  margin: auto 0;
  padding: 11px 28px;
  cursor: pointer;
  background-image: linear-gradient(to right, #2C3B44, #6D93AA);
  color: white;
  text-decoration: none;
  margin-right: 20px;
}





.profile-section {
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 0 0 0;
  background-color: #525D65;
  height: 800px;
  margin-bottom: 0;
}

.team-title {
  color: #fff;
  text-align: center;
  align-self: start;
  font: 700 96px/1 Poppins, sans-serif;
  margin-left: 35px;
}

.profile-content {
  margin-left: 35px;
  margin-top: 41px;
  display: flex;
  gap: 20px;
}

.profile-image-section {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.profile-image {
  aspect-ratio: 1.56;
  object-fit: contain;
  width: 100%;
  border-radius: 25px;
}

.cv-button {
  border-radius: 60px;
  background-color: rgba(217, 217, 217, 1);
  align-self: center;
  margin-top: 39px;
  width: 221px;
  padding: 7px 60px;
  border: 2px solid #000;
  font: 700 16px/2 Poppins, sans-serif;
}

.profile-details {
  width: 56%;
  display: flex;
  flex-direction: column;
}

.details-grid {
  display: flex;
  gap: 20px;
}

.personal-info {
  width: 60%;
  color: #fff;
  font: 400 24px/2 Poppins, sans-serif;
}

.contact-info {
  width: 40%;
  color: #fff;
  font: 400 24px/2 Poppins, sans-serif;
}

.info-label {
  font-weight: 400;
}

.info-value {
  font-weight: 700;
  margin-top: 29px;
}

.github-section {
  margin-top: 71px;
  width: 40%;
  color: #fff;
  font: 400 24px/2 Poppins, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}




.timeline-container {
  width: 100%;
}





.footer-container {
  padding-top: 5px;
  padding-bottom: 25px;
  margin-top: 0;
  background-color: black;
  width: full;
}

.footer-title {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 80px;
  margin-left: 65px;
}

.footer-pic {
  height: 70px;
  margin-left: 65px;
  margin-bottom: 25px;
}

.phone {
  display: flex;
  flex-direction: row;
}

.contact-people {
  color: #fff;
  font-family: 'poppins', sans-serif;
  margin-left: 50px;
}

.insta {
  display: flex;
  flex-direction: row;
}

.insta-techno {
  color: #fff;
  margin-left: 50px;
  font-family: poppins, sans-serif;
}